<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <% if logged_in? %>
      <% if current_user?(@user) %>
        <%= render 'shared/micropost_form' %>
      <% else %>
        <%= render 'follow_form' %>
      <% end %>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <div class="row">
      <div class="col-md-4">
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
      </div>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </div>
      <ol class="microposts">
        <%= render 'shared/feed' %>
      </ol>
      <%= will_paginate @feed_items %>
    <% end %>
  </div>
</div>